<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="breadcrumb" class="breadcrumb">
    <div class="container-main">
        <ol class="breadcrumb-list">
            <li th:each="crumb, iter : ${breadcrumbs}" class="breadcrumb-item">
                <span th:if="${!iter.first}" class="breadcrumb-separator">›</span>

                <a th:if="${!iter.last and crumb == 'Home'}" th:href="@{/}" class="breadcrumb-link" th:text="${crumb}">Home</a>
                <span th:if="${!iter.last and crumb != 'Home'}" th:text="${crumb}">Breadcrumb</span>
                <span th:if="${iter.last}" th:text="${crumb}">Current</span>
            </li>
        </ol>
    </div>
</nav>

</html>